<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Client name</th>
      <th>Architecture</th>
      <th>Consultant</th>
      <th>Tender</th>
      <th>Receipt of tender</th>
      <th>Tender sub date</th>
      <th>Pmc</th>
      <th>Project cost</th>
      <th>Walltype</th>
      <th>Enquiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.location %></td>
        <td><%= project.client_name %></td>
        <td><%= project.architecture %></td>
        <td><%= project.consultant %></td>
        <td><%= project.tender %></td>
        <td><%= project.receipt_of_tender %></td>
        <td><%= project.tender_sub_date %></td>
        <td><%= project.pmc %></td>
        <td><%= project.project_cost %></td>
        <td><%= project.walltype %></td>
        <td><%= project.enquiry_date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
